*{
    margin: 0;
   
}
.main{
    width: 1728px;
    height: 87px;
     background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
  }
  .main , h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
  }

h2{
    margin: 0;
    font-family: Inter;
font-size: 24px;
font-weight: 300;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
}
button{
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    width: 226px;
height: 50px;
top: 518px;
left: 38px;

}
image{
    width: 729px;
height: 911px;
top: 831px;
left: 38px;

}
table{
    border-collapse: collapse;
    
}
table tr, .table td {
   border: 2px solid rgba(0, 0, 0, 1);
   padding: 8px;
}
.final_footer > td{
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);

}
.intro , p{
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.vani{
    padding: 20px;
}
.order , ol{
    padding: 20px;
}
.unorder , ul{
    padding: 20px;
}
.inside , table{
    padding: 20px;
}

